
# Adding Limit Orders to the Trading Bot (Take Profit & Stop Loss)

In [2]:
import sys
sys.path.append("../")
from trading.api import OANDA_API
import pandas as pd
import numpy as np
import tpqoa
from datetime import datetime, timedelta, timezone
import time
import pytz
from datetime import datetime

import matplotlib.pyplot as plt

In [3]:
instrument = "EUR_HKD"
bar_length = timedelta(minutes = 1)
SMA = 200
dev = 2

In [4]:
# raw_data = None
# now = datetime.utcnow()
       
# now = now - timedelta(microseconds = now.microsecond)
# past = now - timedelta(days = 2)


# print (f"Getting candles for {instrument}, from {past} to {now}")

# raw_df = tpqoa.tpqoa("../../config/oanda_demo.cfg").get_history(instrument = instrument, start = past, end = now,
#                        granularity = "S30", price = "M", localize = True).c.dropna().to_frame()

# raw_df.rename(columns = {"c":instrument}, inplace = True)


# # last_bar = raw_data.index[-1].to_pydatetime().replace(tzinfo=None)

In [5]:
# raw_df = pd.read_pickle(f"../../data/backtest_{instrument}.pcl")

In [6]:
api = OANDA_API("../../config/oanda.cfg")
raw_df = api.get_history_with_all_prices(instrument, 10)

In [7]:
raw_df

                         ask      bid   EUR_HKD
time
2024-02-19 19:49:30  8.43222  8.43066  8.431440
2024-02-19 19:50:00  8.43225  8.43064  8.431445
2024-02-19 19:50:30  8.43203  8.43036  8.431195
2024-02-19 19:51:00  8.43202  8.43048  8.431250
2024-02-19 19:51:30  8.43181  8.43024  8.431025
...                      ...      ...       ...
2024-02-29 19:47:30  8.45940  8.45803  8.458715
2024-02-29 19:48:00  8.45917  8.45790  8.458535
2024-02-29 19:48:30  8.45930  8.45780  8.458550
2024-02-29 19:49:00  8.45925  8.45780  8.458525
2024-02-29 19:49:30  8.45930  8.45780  8.458550

[22485 rows x 3 columns]

AttributeError: 'OANDA_API' object has no attribute 'get_positions'

In [ ]:
filtered_df = df.query("time >= '2024-02-12 06:45:00' and time < '2024-02-12 08:25:00'")

In [ ]:
# M = filtered_df["SMA"].values
# M = pd.Series(M)
# poly = np.polyfit(M.index, M.values, deg=1)
# poly
slope = MyTT.SLOPE(filtered_df[instrument].values)
slope = round(slope, 6)
slope

In [ ]:
'{0:f}'.format(slope)

In [ ]:
filtered_df[instrument].plot(figsize = (12, 8))
filtered_df["SMA"].plot(figsize = (12, 8))